:root {
    --font-ss: 'Montserrat', sans-serif;
    --font-se: 'Lora', serif;
    --col-accent: #aa7d44;
    --col-black: #222;
    --padding-modal: 1rem 2rem;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin accented($font-size) {
    background-color: var(--col-accent);
    font-family: var(--font-ss);
    color: white;
    font-size: $font-size;   
}

.button {
    @include accented(1rem);
    border: none;
    border-radius: 100vh;
    padding: .5rem 2rem;
    margin: 1rem;
    cursor: pointer;
}

.button:hover {
    color: var(--col-black);
}

.modal {
    display: none;
    color: var(--col-black);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: var(--font-se);
    background-color: rgba(0, 0, 0, .3);

    &__content {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        
        width: 90%;
        max-width: 500px;
        display: grid;
        align-items: center;
    }

    &__header {
        @include accented(1.5rem);
        padding: var(--padding-modal);
        position: relative;
    }

    &__exit {
        @include accented(2.5rem);
        border: none;
        cursor: pointer;
        background-color: initial;
        // Position relative to modal header
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__exit:hover {
        color: var(--col-black);
    }

    &__main {
        padding: var(--padding-modal);
    }

    &__footer {
        @include accented(1rem);
        padding: var(--padding-modal);
        text-align: center;
    }

}