:root {
    --col-btn: #444;
    --col-btn-hover: #222;
    --col-field-black: #888;
    --col-field-white: #ddd;
    --col-highlight-black: #779e73;
    --col-highlight-white: #b2d1b0;
    --font-ss: 'Montserrat', sans-serif;
    --font-cu: 'Pacifico', cursive;
    --font-clock: 'Orbitron', sans-serif;
    --container-padding: 2rem;
}

button::-moz-focus-inner {
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
    font-family: var(--font-ss);
    color: var(--col-dark);
    background-color: #eee;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

    flex-direction: column;
    padding: var(--container-padding);

    @media screen and (min-width: 700px) {
        flex-direction: row;
        padding-right: 0;
    }
}

/**************
 * Game board * 
 **************/

.board {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    border: 3px solid #333;

    min-height: 40vw;
    max-height: 650px;
    min-width: 40vw;
    max-width: 650px;

    &__field--white {
        background-color: var(--col-field-white);
    }

    &__field--white.highlight {
        background-color: var(--col-highlight-white);
    }

    &__field--black {
        background-color: var(--col-field-black);
    }

    &__field--black.highlight {
        background-color: var(--col-highlight-black);
    }
}

.piece {
    display: block;
    width: 100%;
}

/**************
 * Side panel * 
 **************/

.menu {
    display: grid;
    grid-template-areas:
        'header header'
        'options clock';

    order: -1;

    width: 100%;
    min-width: 200px;
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (min-width: 700px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        order: 1;

        width: 10vw;
        height: 100%;
        padding: 0 var(--container-padding);
        margin-bottom: 0;
    }
}

.header {
    grid-area: header;
    margin-bottom: 2rem;

    &__title {
        font-family: var(--font-cu);
        font-size: 2.75rem;
        line-height: 1;
    }

    &__subtitle {
        display: none;
    }

    @media screen and (min-width: 700px) {
        margin-bottom: 0.5rem;

        &__subtitle {
            display: block;
        }
    }
}

.clock {
    grid-area: clock;

    &__display {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #ccc;
        margin-bottom: 0.5rem;
        border-radius: 4px;
        position: relative;
    }

    &__display::after {
        content: '';
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    //  Clock rows
    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__row--white {
        order: 1;
    }

    &__row--black {
        order: 0;
    }

    // Side labels
    &__dot {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100vh;
        transition: box-shadow 200ms ease-in-out;
    }

    &__dot--white {
        background-color: white;
    }

    &__dot--black {
        background-color: black;
    }

    &__dot--checked {
        box-shadow: 0 0 3px 2px rgb(122, 2, 2), 0 0 9px 1px rgb(255, 83, 83);
    }

    // Time content
    &__time {
        font-family: var(--font-clock);
        font-size: 1.2rem;
        padding: 1rem 0;
        width: 4rem;
    }

    &__setting {
        text-align: center;
        width: 100%;
    }
}

.options {
    grid-area: options;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    color: white;
    cursor: pointer;
    background-color: var(--col-btn);
    line-height: 3;

    width: 8rem;

    border: none;
    border-radius: 4px;
    // padding: 0.7rem 0;
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    margin-bottom: 0.75rem;

    &:hover {
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
        background-color: var(--col-btn-hover);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

/*******************
 * Promotion Modal * 
 *******************/

.modal-promotion {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: none;
    align-items: center;
    justify-content: center;

    &__content {
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        margin: 0 1rem;
        padding: 2rem;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &__pieces {
        display: flex;
        justify-content: space-around;
    }

    &__piece {
        display: block;
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;
        transition: box-shadow 50ms ease-in;
    }

    &__piece:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
    }
}
